@font-face {
    font-family: 'Play';
    src: url('/assets/fonts/PlayRegular.ttf');
}

body {
  font-family: 'Play';
  font-size: 14px;
}

body.black{
  background-color: #000000;
  color: #FFFFFF;
}
div.block{
  width: 250px;
  margin: 10px;
  padding: 1px;

  /*border: 1px solid #FFFFFF;*/
  display: inline-block;
}
div.extra{
  width: inherit;
  margin: 0px;
  border-top: 1px solid;
}
div.name{
  text-align: left;
  padding: 8px 0 2px;
}
div.values{
  text-align: left;
}
div.input_option{
  display: block;
}

#footer {
  text-align: center;
  font-size: 12px;
}
#header {
  text-align: center;
  font-size: 22px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
